@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

$background-color: rgb(5, 9, 0);
$text-color: rgb(241, 245, 238);
$primary-font: 'poppins', sans-serif;
$secondary-font: 'Smooch Sans', sans-serif;