@use'../styles/variables.scss';

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url('/background.jpg');
}

.page::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Black overlay with 50% opacity */
    z-index: 1;
}

.info {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
}

.info h1 {
    margin: 20px 0 0 0;
    color: #69fc86;
}

.info h3 {
    margin: 20px 0 0 0;
}

.dp {
    height: 180px;
    z-index: 10;
}

.profile {
    border-radius: 50%;
    border: 2px solid #f0f0f0;
}

.page h1 {
    font-size: 3rem;
    font-family: variables.$secondary-font;
}

.page h3 {
    font-size: 1.5rem;
}

.action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.internal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pageBtn {
    margin-top: 40px;
    width: 140px;
    height: 50px;
    font-size: 1.2rem;
    background-color: variables.$background-color;
    color: variables.$text-color;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    border: none;
}

.pageBtn::after, .pageBtn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: variables.$text-color;
    border-radius: 30px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 2px;
    transition: all 0.3s ease-in-out;
}

.pageBtn:hover::after, .pageBtn:hover::before  {
    background-image: conic-gradient(from var(--angle), magenta, cyan, yellow, magenta);
    background-color: transparent;
    padding: 4px;
    animation: 3s spin linear infinite;
}

.pageBtn:hover::before {
    opacity: 0.8;
}

.pageBtn::before {
    filter: blur(1rem);
    opacity: 0;
}

.external {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
}

.linkedin {
    display: flex;
    align-items: center;
    justify-content: center;
    background: variables.$background-color;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    border: none;
    padding: 12px;
}

.linkedin::after, .linkedin::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 2px;
    transition: all 0.3s ease-in-out;
}

.linkedin:hover::after, .linkedin:hover::before  {
    background-image: conic-gradient(from var(--angle), transparent, #527ffa);
    padding: 3px;
    animation: 3s spin linear infinite;
}

.linkedin:hover::before {
    opacity: 0.8;
}

.linkedin::before {
    filter: blur(1rem);
    opacity: 0;
}

.upworkBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: variables.$background-color;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    border: none;
    padding: 12px;
}

.upworkBtn::after, .upworkBtn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 2px;
    transition: all 0.3s ease-in-out;
}

.upworkBtn:hover::after, .upworkBtn:hover::before  {
    background-image: conic-gradient(from var(--angle), transparent, #69fc86);
    padding: 3px;
    animation: 3s spin linear infinite;
}

.upworkBtn:hover::before {
    opacity: 0.8;
}

.upworkBtn::before {
    filter: blur(1rem);
    opacity: 0;
}


.githubBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: variables.$background-color;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    border: none;
    padding: 12px;
}

.githubBtn::after, .githubBtn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 2px;
    transition: all 0.3s ease-in-out;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}
.githubBtn:hover::after, .githubBtn:hover::before  {
    background-image: conic-gradient(from var(--angle), transparent, #c551ff);
    padding: 3px;
    animation: 3s spin linear infinite;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

.githubBtn:hover::before {
    opacity: 0.8;
}

.githubBtn::before {
    filter: blur(1rem);
    opacity: 0;
}

.githubIcon, .upworkIcon, .linkedinIcon {
    color: #f8f4f4;
    transition: all 0.3s ease-in-out;
}

.githubIcon:hover {
    color: #c551ff;
    transform: scale(1.3);
}

.upworkIcon:hover {
    color: #69fc86;
    transform: scale(1.2);
}

.linkedinIcon:hover {
    color: #527ffa;
    transform: scale(1.2);
}