@use'../../../styles/variables.scss';

.projectCard {
    display: flex;
    flex-direction: column;
    margin: 10px 0 20px 0;
    width: 60%;
    border: solid 2px #f0f0f0;
    border-radius: 10px;
    padding: 10px;
  }

  .title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

.projectCard h1 {
    margin: 0;
    font-size: 2rem;
    font-family: variables.$secondary-font;
}

.projectCard h4 {
    margin: 0;
    font-size: 0.9rem;
    font-weight: 600;
}

.projectCard p {
    margin: 0;
    font-size: 0.7rem;
    text-align: center;
    width: 70%;
    font-weight: 300;
    line-height: 25px;
}

.projectCard ol {
    margin: 0;
    font-size: 0.7rem;
    font-weight: 300;
    list-style-type: circle;
}

.images {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.swiper {
    width: 78%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navWrapper {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 10;
}

.navButton {
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    color: #f0f0f0;
}
  
.toggleButton {
    margin: 1rem 0;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f0f0f0;
  
    svg {
      transition: transform 0.7s ease, opacity 0.3s ease;
    }
  
    &.expanded svg {
      transform: rotate(180deg);
    }
  }
  
  
  .hiddenContent {
    height: 0;
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-10px);
    overflow: hidden;
    transition: max-height 0.7s ease, opacity 0.7s ease, visibility 0.7s ease, transform 0.7s ease;
  }

  .features {
    margin-top: 10px;
  }
  
  .hiddenContent.visible {
    height: fit-content;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .stack {
    margin-top: 20px;
    max-width: 60%;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .stack button {
    width: 100px;
    background-color: transparent;
    border: 2px solid #f0f0f0;
    color: #f0f0f0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
  }

  .repositories {
    margin-top: 20px;
  }

  .repositories a {
    font-size: 0.7rem;
    color: rgb(154, 255, 255);
    margin-left: 10px;
  }

  .repositories div {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .launch {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
  }

  .launch p {
    margin-left: 10px;
  }

  .launch h6 {
    margin: 0;
  }

  .react {
    color: rgb(87, 161, 252) !important;
    border: 2px solid rgb(87, 161, 252) !important;
  }

  .next {
    color: rgb(255, 255, 255) !important;
    border: 2px solid rgb(255, 255, 255) !important;
  }

  .express {
    color: rgb(87, 252, 211) !important;
    border: 2px solid rgb(87, 252, 211) !important;
  }

  .mysql {
    color: rgb(216, 162, 252) !important; 
    border: 2px solid rgb(216, 162, 252) !important;
  }

  .strapi {
    color: #4945ff!important;
    border: 2px solid #4945ff !important;
  }
  