@use'../../styles/variables.scss';

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url('/background.jpg');
}

.page::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.info h1 {
    margin: 0;
    color: #69fc86;
    font-family: variables.$secondary-font;
    font-size: 3rem;
}

.info p {
    font-size: 0.7rem;
    text-align: center;
    width: 60%;
}

.photo {
    height: 180px;
    z-index: 10;
}

.profile {
    border-radius: 50%;
    border: 2px solid #f0f0f0;
}

.container{
    width: 60%;
    border-radius: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    margin-top: 20px;
}

.nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav button {
    border: none;
    border-radius: 8px;
    background-color: transparent;
    width: 200px;
    height: 40px;
    font-family: variables.$secondary-font;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f0f0f0;
    cursor: pointer;
}


.buttonContainer {
    margin: 30px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    min-height: 150px;
}

.buttonContainer button {
    min-width: 100px;
    height: 30px;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    background-color: transparent;
    color: #f0f0f0;
    font-family: variables.$primary-font;
    margin-top: 10px;
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
}

.external {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    z-index: 10;
}

.external button {
    background-color: transparent;
    border: none;
    color: #f0f0f0;
    z-index: 10;
    cursor: pointer;
}


.icon {
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

@media (max-width:550px) {

    .info h1 {
        font-size: 1.5rem;
    }

    .info p {
        font-size: 12px;
    }

    .nav button {
        max-width: 80px;
    }

    .buttonContainer  {
        width: 100%;
    }
}

@media (max-width: 390px) {
    .buttonContainer button {
        width: 50px;
        font-size: 12px;
    }
}
